.subtitle {
    text-decoration: none;
    color: white;
}

.subtitle:hover {
    color: blue;
}

.h1 {
    margin-top: 0px;
}

.contentArticle {
    @media (min-width: 600px) {
        padding-top: 10px;
    }
}

.img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 900px;
    padding: 50px 0;
}