.subtitle {
    text-decoration: none;
    color: white;
}

.subtitle:hover {
    color: blue;
}

.img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 900px;
    padding: 50px 0;
}