---
import Layout from '../layouts/Layout.astro';
import News from '../components/news/News.jsx';
import './index.css';
---

<Layout title="TechNews">
	<main class="paddingContent">
    	<News client:load/>
	</main>
</Layout>