---
import Layout from '../layouts/Layout.astro';
import styles from './index.module.css';
import News from '../components/news/News.jsx';
---

<Layout title="TechNews">
	<main>
    	<News client:load/>
	</main>
</Layout>