---
import Layout from '../layouts/Layout.astro';
import styles from './index.module.css';
import News from '../components/News.jsx';
---

<Layout title="TechNews">
	<main>
		<h1 class={styles.title}>Welcome to TechNews</h1>
    	<News client:load/>
	</main>
</Layout>