.title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 5vh;
}

.searchButtonsContainer {
    display: flex;
    justify-content: center;
    gap: 1.5vw;
}

.textArticle {
    text-decoration: none;
    color: white;
}