---
let data;

export async function load() {
  const response = await fetch('https://technews.vercel.app/api/scrape');
  data = await response.json();
}
---
<ul>
  {data.map(item => (
    <li>
      <a href={item.href} style={item.style}>
		<h2>{item.title}</h2>
		<p>{item.description}</p>
		</a>
    </li>
  ))}
</ul>
